<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Courses:</h1>
    <table border="2">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Instructor</th>
        <th>Rating</th>
        <th>Price</th>
      </thead>
      {% for course in course_list%}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{course.title }}</td>
        <td>{{course.description}}</td>
        <td>{{course.instructor }}</td>
        <td>{{course.rating}}</td>
        <td>{{course.price }}</td>
      </tr>
      {%endfor%}
    </table>
    <br/><br/><br/>
  </body>
  </html>
